parameters:
	paths:
		- src
	level: 2
	autoload_files:
		- phar://%currentWorkingDirectory%/../PocketMine/PocketMine-MP.phar/vendor/autoload.php
	autoload_directories:
		- src
	ignoreErrors:
		-
			message: "#^Call to static method fromSelection\\(\\) on an unknown class muqsit\\\\worldstyler\\\\shapes\\\\Cuboid\\.$#"
			count: 4
			path: src/MyPlot/MyPlot.php

		-
			message: "#^Call to static method printSpoon\\(\\) on an unknown class spoondetector\\\\SpoonDetector\\.$#"
			count: 1
			path: src/MyPlot/MyPlot.php

		-
			message: "#^Class onebone\\\\economyapi\\\\EconomyAPI not found\\.$#"
			path: src/MyPlot/MyPlot.php

		-
			message: "#^Class EssentialsPE\\\\Loader not found\\.$#"
			path: src/MyPlot/MyPlot.php

		-
			message: "#^Class PocketMoney\\\\PocketMoney not found\\.$#"
			path: src/MyPlot/MyPlot.php

		-
			message: "#^Parameter \\$plugin of method MyPlot\\\\provider\\\\EconomySProvider\\:\\:__construct\\(\\) has invalid typehint type onebone\\\\economyapi\\\\EconomyAPI\\.$#"
			path: src/MyPlot/provider/EconomySProvider.php

		-
			message: "#^Access to constant RET_SUCCESS on an unknown class onebone\\\\economyapi\\\\EconomyAPI\\.$#"
			path: src/MyPlot/provider/EconomySProvider.php

		-
			message: "#^Parameter \\$plugin of method MyPlot\\\\provider\\\\EssentialsPEProvider\\:\\:__construct\\(\\) has invalid typehint type EssentialsPE\\\\Loader\\.$#"
			path: src/MyPlot/provider/EssentialsPEProvider.php

		-
			message: "#^Parameter \\$plugin of method MyPlot\\\\provider\\\\PocketMoneyProvider\\:\\:__construct\\(\\) has invalid typehint type PocketMoney\\\\PocketMoney\\.$#"
			path: src/MyPlot/provider/PocketMoneyProvider.php